nav {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

nav .nav-banner {
    font-family: 'Raleway', sans-serif, serif;
    font-size: 1.6666rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: left;
    display: flex;
    align-items: center;
    column-gap: 4px;
}

nav .nav-banner svg{
    fill: currentColor;
    overflow: hidden;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    stroke-width: 1px;
    stroke-linecap: 1px;
}

nav .nav-links {
    display: flex;
    column-gap: 24px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

nav .nav-links li {
    position: relative;
}

nav .nav-links li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--font-primary-color);
}

nav .nav-links li:hover a {
    text-decoration-color: var(--font-paragraph-color);
    text-underline-offset: 4px;
    text-decoration:underline;
}

nav .nav-links .connect-wallet {
    cursor: pointer;
    background-color: var(--button-primary-color);
    color: var(--white);
    border-radius: 8px;
    padding: 12px;
    border-bottom: 0;
}

nav ul .connect-wallet:hover {
    background-color: var(--button-secondary-color);
}

.hamburger-icon {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav .nav-links {

        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 16px;
    }
    nav ul.show-menu {
        z-index: 995;
        width: 100vw;
        display: flex;
        row-gap: 24px;
    }
    nav .nav-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger-icon {
        display: block;
        font-size: 1.5rem;
    }
}