section .token .token-header {
    font-family: 'Raleway',sans-serif,serif;
    font-size: 1.7rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -0.8px;
    margin: 32px 0;
}

section .token form {
    font-family: 'Manrope',sans-serif,serif;
    display: flex;
    column-gap: 24px;
    max-width: 768px;
}

section .token form input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--font-paragraph-color);
}

section .token form .btn-primary {
    padding: 12px 16px;
    background-color:var(--button-primary-color);
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3 ease-in-out;
}

section .token .btn-primary:hover {
    background-color: var(--button-secondary-color);
}

section .token .feedback-token-request {
    margin-top: 32px;
    display: flex;
    row-gap: 32px;
    max-width: 512px;
    flex-direction: column;
}

section .token .feedback-token-request button {
    width: fit-content;
    padding: 12px 16px;
    background-color: darkgreen;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3 ease-in-out;
}

.text-succes,
.text-fail {
    font-family: 'Manrope',sans-serif,serif;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 400;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}