section .tokenomics-hero {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 32px;
}

section .tokenomics-hero article {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: flex-start;
}

section .tokenomics-hero article .tokenomics-banner-header {
    font-family: 'Raleway', sans-serif, serif;
    font-size: 2.2rem;
    line-height: 2;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.8px;
    word-break: break-word;
}

section .tokenomics-hero article p {
    font-family: 'Manrope', sans-serif;
    font-size: 0.99rem;
    font-weight: 400;
    line-height: 2;
    color: var(--font-paragraph-color);
}

section .tokenomics-hero figure picture {
    width: 100%;
    height: auto;
    vertical-align: center;
}

section .tokenomics-hero figure picture img {
    width: 100%;
    height: auto;
    vertical-align: center;
    border-radius: 8px;
}

section .tokenomics-table .tokenomics-allocation-header {
    font-family: 'Raleway', sans-serif, serif;
    font-size: 2.2rem;
    line-height: 2;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.8px;
    word-break: break-word;
}

section .tokenomics-table .token-allocation-table {
    font-family: 'Manrope', sans-serif, serif;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    margin-top: 32px;
}

section .tokenomics-table .token-allocation-table th,
section .tokenomics-table .token-allocation-table td {
    border: 1px solid var(--font-primary-color);
    padding: 8px;
    text-align: left;
}

section .tokenomics-table .token-allocation-table tr:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: background-color 0.3s ease;
}

section .tokenomics-table .token-allocation-table th:hover {
    color: var(--background-color);
}

section .tokenomics-table .token-allocation-table .btn-secondary {
    background-color: var(--background-color);
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 600px) {

    th,
    td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    th {
        text-align: center;
    }
}

@media (max-width: 768px) {

    section .tokenomics-hero {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 24px;
        grid-template-areas: 'figure' 'article';
    }

    section .tokenomics-hero article {
        grid-area: article;
    }

    section .tokenomics-hero figure {
        grid-area: figure;
    }

    section .tokenomics-hero article h2 {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    section .tokenomics-hero article h1 {
        font-weight: 500;
    }

    section .features .features-header {
        text-align: center;
        font-weight: 300;
        letter-spacing: -0.8px;
        font-size: 1.78rem;
    }

    section .features .card-container {
        grid-template-columns: 1fr;
    }
}