section .xyz {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

section .xyz .check-pin-title {
    font-family: 'Raleway', sans-serif, serif;
    font-size: 1.5rem;
    font-weight: 300;
}

section .xyz .warning-msg {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--red);
}

section .xyz .pin-box {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}

section .xyz .pin-box input[type='text'] {
    width: 65%;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 12px;
}

section .xyz .pin-box button {
    width: 30%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

section .xyz .pin-box button:hover {
    background-color: #333;
}

section .xyz .proposal-card {
    font-family: 'Manrope', sans-serif, serif;
    background-color: #fff;
    border: 1px solid var(--primary-color);
    padding: 32px 24px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

section .xyz .proposal-card h2 {
    color: var(--primary-font-color);
}

section .xyz .proposal-card p {
    color: #666;
}

section .xyz input[type='radio'] {
    margin-right: 5px;
}


section .xyz form .btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 16px;
}

section .xyz form .btn-primary:hover {
    background-color: #333;
}