.resultCard {
    font-family: 'Manrope', sans-serif, serif;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 12px 16px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 48px 0;
    max-width: 720px;
}

.allVoteResult {
    min-width: max-content;
}

.voteResult {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
    min-width: 200px;
}

.option {
    flex: 1;
}

.vote {
    flex: 1;
}
